# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# PDM virtual environment and other related files
.pdm/
.pdm.lock
.pdm.toml
.pdm-python

# Flask specific
instance/
*.log
*.pot
*.pyc

# Environment variables
.env

# Test and coverage
coverage/
*.cover
*.hypothesis/
.nosetests/
.coverage
*.log
*.tox/

# Pytest
.cache/
.pytest_cache/

# Jupyter notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# PDM cache
.pdm/__pypackages__/

# Docker files
docker-compose.override.yml
Dockerfile
